
   <!-- Section Header -->
    <div class="section-header text-center mt-5 mb-4">
      <div class="mgr-header wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1200ms">
        <span class="mgr-header__eyebrow">
          <span class="mgr-header__line"></span>
                  {{ "Company Highlights" | translate }}

          <span class="mgr-header__line"></span>
        </span>
      </div>
    </div>
<section class="counter-one ">
  <div class="container-fluid">


    <ul class="counter-one__box list-unstyled mt-4">

      <!-- Investors & Partners -->
      <li class="counter-one__single wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1000ms">
        <div class="counter-one__icon">
          <i class="fa-solid fa-handshake"></i>
          <div class="counter-one__shape"></div>
        </div>
        <div class="counter-one__content count-box">
          <h3 class="count-text" data-stop="17" data-speed="1500">17+</h3>
          <p class="counter-one__text">{{ 'Investors & Partners' | translate }}</p>
        </div>
      </li>

      <!-- Businesses Serviced -->
      <li class="counter-one__single wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
        <div class="counter-one__icon">
          <i class="fa-solid fa-store"></i>
          <div class="counter-one__shape"></div>
        </div>
        <div class="counter-one__content count-box">
          <h3 class="count-text" data-stop="22" data-speed="1500">22+</h3>
          <p class="counter-one__text">{{ 'Businesses Serviced' | translate }}</p>
        </div>
      </li>

      <!-- Strategic International Partnerships -->
      <li class="counter-one__single wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms">
        <div class="counter-one__icon">
          <i class="fa-solid fa-earth-americas"></i>
          <div class="counter-one__shape"></div>
        </div>
        <div class="counter-one__content count-box">
          <h3 class="count-text" data-stop="3" data-speed="1500">3</h3>
          <p class="counter-one__text">{{ 'Strategic International Partnerships' | translate }}</p>
        </div>
      </li>

      <!-- Strategic Local Partnerships -->
      <li class="counter-one__single wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1000ms">
        <div class="counter-one__icon">
          <i class="fa-solid fa-location-dot"></i>
          <div class="counter-one__shape"></div>
        </div>
        <div class="counter-one__content count-box">
          <h3 class="count-text" data-stop="7" data-speed="1500">7</h3>
          <p class="counter-one__text">{{ 'Strategic Local Partnerships' | translate }}</p>
        </div>
      </li>

    </ul>
  </div>
</section>