mat-dialog-actions{
  justify-content: space-evenly;
  }
 .modal-header {
    color: black;
    justify-content: center;
    background:  linear-gradient(0deg, var(--old-color) -2%, var(--old-color) 10%);
    background-size: contain;
    padding: 2px;
}
 
  .modal-lg{
    max-width: inherit !important;
  }
